

{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style2.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-starter.css' %}">
    </head>
    <header class="w3l-header-nav">
        <!--/nav-->
        <nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    <img src="{% static 'images/hotels.png' %}" alt="Your logo" style="height:35px;" /> Hotels</a>
                <!-- if logo is image enable this   
                            <a class="navbar-brand" href="#index.html">
                                <img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
                            </a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item @@about__active">
                            <a class="nav-link" href="{% url 'about'%}">About</a>
                        </li>
                        <li class="nav-item @@services__active">
                            <a class="nav-link" href="{% url 'room_list' %}">Room List</a>
                        </li>
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
                        </li>
                        {% comment %} <li class="nav-item @@contact__active">
                            <a class="nav-link" href="{% url 'login' %}">Log In</a>
                        </li>
                        <li class="nav-item @@contact__active">
                            <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                        </li> {% endcomment %}
                    </ul>
                    
                </div>
            </div>
        </nav>
        <!--//nav-->
    </header>
    <body>
        <div class="container">
            <div class="center">
               
                    <h2>Book {{ room.name }}</h2>
                    <form method="get">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {{msg}}

                    <input name="submit" type="Submit" value="Submit">
                    </form>
                
            </div>
        </div>

        <script src="" async defer></script>
    </body>
</html>